* {
  box-sizing: border-box;
}
:root {
  --Primary-color-black: #152427;
  --Primary-color-black-green: #143c3c;
  --Scondery-color-gray: #6a8383;
  --Scondery-color-light-green: #e2eddf;
  --text-color-light-gray: #7d8188;
  --text-color-black-gray: #575d5e;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
/* common */
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  width: 173px;
  height: 57px;
  border-radius: 999px;
  border: 1.5px solid #143c3c;
  background: var(--Primary-color-black-green, #143c3c);
  color: var(--text-color-white, #fff);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 57px; /* 155.556% */
  transition: 0.25s;
}
.btn:hover {
  background: #fff;
  color: var(--Primary-color-black-green);
}
.l-desc {
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.m-desc {
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
}
.s-desc {
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}
.section-heading {
  color: var(--Primary-color-black, #152427);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
}
.section-subtitle {
  color: var(--Primary-color-black, #152427);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63; /* 162.5% */
}
.section-subtitle::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--Primary-color-black);
  margin: 0 21px 9px 0;
}
/* Header */
.header {
  font-family: "Public Sans", sans-serif;
  padding-top: 14px;
  background: #fff;
}
.header--fixed {
  position: sticky;
  top: -14px;
  right: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}
.header__inner {
  padding: 14px 0;
  display: flex;
  align-items: center;
}
.navbar {
  margin-left: auto;
}
.navbar__list {
  display: flex;
  column-gap: 38px;
}
.navbar-item--active {
  position: relative;
}
.navbar-item--active::after {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 2px;
  width: 16px;
  height: 2px;
  background: var(--Primary-color-black-green);
}
.navbar-item__link {
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.navbar-item__link:hover,
.navbar-item__link--active {
  color: var(--Primary-color-black);
  text-shadow: 1px 0 0 var(--Primary-color-black);
}
.header__line {
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}
.header__action {
  margin-left: 88px;
}
/* Hero */
.hero {
  padding-top: 28px;
  font-family: "Public Sans";
}
.hero__inner {
  position: relative;
  display: flex;
  column-gap: 76px;
  padding: 60px 0 87px;
}
.hero__content {
  margin-top: 75px;
}
.hero__heading {
  max-width: 368px;
  color: var(--Primary-color-black, #152427);
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
}
.hero__desc {
  max-width: 341px;
  margin-top: 20px;
  color: var(--text-color-black-gray, #575d5e);
}
.hero__row {
  margin-top: 42px;
  display: flex;
  align-items: center;
  column-gap: 36px;
}
.hero__watch-btn {
  display: flex;
  align-items: center;
  column-gap: 9px;
  flex-wrap: nowrap;
}
.hero__watch-btn:hover .hero__play-bg {
  border-color: #83a17d transparent transparent #83a17d;
  transform: rotate(135deg);
}
.hero__watch-btn:hover .hero__play {
  background: var(--Primary-color-black-green);
  transform: rotate(-135deg);
}
.hero__play-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  transform: rotate(-45deg);
  transition: 0.5s;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--Primary-color-black-green) transparent transparent
    var(--Primary-color-black-green);
}
.hero__play {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  color: #fef6fb;
  font-size: 1.2rem;
  text-align: center;
  line-height: 44px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__play-title {
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero__media {
  width: 56.7%;
  display: flex;
  position: relative;
}
.hero__bgc-blur {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}
.hero__images {
  display: flex;
  column-gap: 20px;
}
.hero__img {
  width: calc((100% - 40px) / 3);
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}
.hero__img:nth-of-type(2) {
  margin-top: 77px;
}
.hero__img-vector--top {
  position: absolute;
  top: -32px;
  left: -172px;
}
.extra-top {
  position: absolute;
  top: 7px;
  left: -42px;
  z-index: 1;
}
.vector-top {
  position: absolute;
  top: 0;
  left: 0;
}
.hero__img-vector--bottom {
  position: absolute;
  right: 50px;
  bottom: -87px;
}
.extra-bottom {
  position: absolute;
  right: -50px;
  bottom: 50px;
  z-index: 1;
}
.vector-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-5deg);
}
/* Media */
.media {
  margin-top: 42px;
}
.media__inner {
  padding: 76px 122px;
  border-radius: 999px;
  background: var(--Scondery-color-light-green);
}
.media-brand__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.media-brand__item {
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 8px 16px;
  border-radius: 15px;
  transition: 0.2s;
}
.media-brand__item:hover {
  box-shadow: 2px 2px 2px 2px var(--Primary-color-black-green);
}
.media-brand__item:nth-child(3) {
  column-gap: 11px;
}
/* Service */
.service {
  margin-top: 41px;
  padding: 65px 0;
}
.service__title {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.service__heading {
  position: relative;
  width: 45.6%;
}
.service__heading::after {
  display: inline-block;
  position: absolute;
  bottom: 19px;
  right: 103px;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--Primary-color-black, #152427);
}
.service__group-btn {
  display: flex;
  column-gap: 17px;
}
.service__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--Scondery-color-light-green, #e2eddf);
  color: #152427;
  border: none;
  transition: 0.25s;
}
.service__btn--next {
  rotate: 180deg;
}
.service__btn:hover {
  background: var(--Primary-color-black-green);
  color: #fff;
  cursor: pointer;
}
.service__body {
  margin-top: 76px;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}
.service-item:hover .service-item__body {
  padding: 24px 18px;
  border-radius: 0 0 20px 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-item:hover .service-item__img {
  scale: 1.1;
}
.service-item__image {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.service-item__img {
  width: 100%;
  height: 318px;
  object-fit: cover;
  transition: 0.25s;
}
.service-item__body {
  padding: 24px 0;
  transition: 0.25s;
}
.service-item__title {
  color: var(--Primary-color-black, #152427);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.service-item__desc {
  max-width: 268px;
  margin-top: 18px;
  color: var(--text-color-light-gray);
}
