* {
  box-sizing: border-box;
}
:root {
  --Primary-color-black: #152427;
  --Primary-color-black-green: #143c3c;
  --Scondery-color-gray: #6a8383;
  --Scondery-color-light-green: #e2eddf;
  --text-color-light-gray: #7d8188;
  --text-color-black-gray: #575d5e;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
/* common */
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  width: 173px;
  height: 57px;
  border-radius: 999px;
  border: 1.5px solid #143c3c;
  background: var(--Primary-color-black-green, #143c3c);
  color: var(--text-color-white, #fff);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 57px; /* 155.556% */
  transition: 0.25s;
}
.btn:hover {
  background: #fff;
  color: var(--Primary-color-black-green);
}
.l-desc {
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.m-desc {
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
}
.s-desc {
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}
.section-heading {
  color: var(--Primary-color-black, #152427);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
}
.section-subtitle {
  color: var(--Primary-color-black, #152427);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63; /* 162.5% */
}
.section-subtitle::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--Primary-color-black);
  margin: 0 21px 9px 0;
}
/* Header */
.header {
  font-family: "Public Sans", sans-serif;
  padding-top: 14px;
  background: #fff;
}
.header--fixed {
  position: sticky;
  top: -14px;
  right: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}
.header__inner {
  padding: 14px 0;
  display: flex;
  align-items: center;
}
.navbar {
  margin-left: auto;
}
.navbar__list {
  display: flex;
  column-gap: 38px;
}
.navbar-item--active {
  position: relative;
}
.navbar-item--active::after {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 2px;
  width: 16px;
  height: 2px;
  background: var(--Primary-color-black-green);
}
.navbar-item__link {
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.navbar-item__link:hover,
.navbar-item__link--active {
  color: var(--Primary-color-black);
  text-shadow: 1px 0 0 var(--Primary-color-black);
}
.header__line {
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}
.header__action {
  margin-left: 88px;
}
/* Hero */
.hero {
  font-family: "Public Sans";
}
.hero__inner {
  position: relative;
  display: flex;
  column-gap: 76px;
  padding: 60px 0 87px;
}
.hero__content {
  margin-top: 48px;
}
.hero__heading {
  max-width: 368px;
  color: var(--Primary-color-black, #152427);
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
}
.hero__desc {
  max-width: 341px;
  margin-top: 20px;
  color: var(--text-color-black-gray, #575d5e);
}
.hero__row {
  margin-top: 42px;
  display: flex;
  align-items: center;
  column-gap: 36px;
}
.hero__watch-btn {
  display: flex;
  align-items: center;
  column-gap: 9px;
  flex-wrap: nowrap;
}
.hero__watch-btn:hover .hero__play-bg {
  border-color: #83a17d transparent transparent #83a17d;
  transform: rotate(135deg);
}
.hero__watch-btn:hover .hero__play {
  background: var(--Primary-color-black-green);
  transform: rotate(-135deg);
}
.hero__play-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  transform: rotate(-45deg);
  transition: 0.5s;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--Primary-color-black-green) transparent transparent
    var(--Primary-color-black-green);
}
.hero__play {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  color: #fef6fb;
  font-size: 1.2rem;
  text-align: center;
  line-height: 44px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__play-title {
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero__media {
  width: 56.7%;
  display: flex;
  position: relative;
}
.hero__bgc-blur {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}
.hero__images {
  display: flex;
  column-gap: 20px;
}
.hero__img {
  width: calc((100% - 40px) / 3);
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}
.hero__img:nth-of-type(2) {
  margin-top: 77px;
}
.hero__img-vector--top {
  position: absolute;
  top: -32px;
  left: -172px;
}
.extra-top {
  position: absolute;
  top: 7px;
  left: -42px;
  z-index: 1;
}
.vector-top {
  position: absolute;
  top: 0;
  left: 0;
}
.hero__img-vector--bottom {
  position: absolute;
  right: 50px;
  bottom: -87px;
}
.extra-bottom {
  position: absolute;
  right: -50px;
  bottom: 50px;
  z-index: 1;
}
.vector-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-5deg);
}
/* Media */
.media {
  margin-top: 42px;
}
.media__inner {
  padding: 76px 122px;
  border-radius: 999px;
  background: var(--Scondery-color-light-green);
}
.media-brand__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.media-brand__item {
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 8px 16px;
  border-radius: 15px;
  transition: 0.2s;
}
.media-brand__item:hover {
  box-shadow: 2px 2px 2px 2px var(--Primary-color-black-green);
}
.media-brand__item:nth-child(3) {
  column-gap: 11px;
}
/* Service */
.service {
  margin-top: 41px;
  padding: 65px 0;
}
.service__title {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.service__heading {
  position: relative;
  width: 45.6%;
}
.service__heading::after {
  display: inline-block;
  position: absolute;
  bottom: 19px;
  right: 103px;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--Primary-color-black, #152427);
}
.service__group-btn {
  display: flex;
  column-gap: 17px;
}
.service__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--Scondery-color-light-green, #e2eddf);
  color: #152427;
  border: none;
  transition: 0.25s;
}
.service__btn--next {
  rotate: 180deg;
}
.service__btn:hover {
  background: var(--Primary-color-black-green);
  color: #fff;
  cursor: pointer;
}
.service__body {
  margin-top: 76px;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}
.service-item:hover .service-item__body {
  padding: 24px 18px;
  border-radius: 0 0 20px 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-item:hover .service-item__img {
  scale: 1.1;
}
.service-item__image {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.service-item__img {
  width: 100%;
  height: 318px;
  object-fit: cover;
  transition: 0.25s;
}
.service-item__body {
  padding: 24px 0;
  transition: 0.25s;
}
.service-item__title {
  color: var(--Primary-color-black, #152427);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.service-item__desc {
  max-width: 268px;
  margin-top: 18px;
  color: var(--text-color-light-gray);
}
/* About */
.about {
  padding-top: 92px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__media {
  position: relative;
  margin-top: 13px;
  width: 591px;
  height: 557px;
}
.about__images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 21px;
}
.about__img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__img:nth-child(1) {
  margin-top: 77px;
}
.about__vector-img {
  position: absolute;
  top: 0;
  left: 82px;
  z-index: 1;
}
.about__vector {
  position: absolute;
  top: 0;
  left: 0;
}
.about__extra {
  position: absolute;
  rotate: 11deg;
  top: -34px;
  left: -40px;
}
.about-sub-media {
  font-family: "Public Sans";
  position: absolute;
  bottom: 8px;
  right: -9px;
  padding: 19px 23px 11px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}
.about-sub-media__title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--Primary-color-black, #152427);
}
.about-sub-media__desc {
  margin-top: 6px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  color: var(--text-color-black-gray, #575d5e);
}
.about-sub-media__route {
  margin-top: 10px;
}
.about-sub-media__percent {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
  color: var(--Primary-color-black, #152427);
}
.about-sub-media__percent::after {
  position: absolute;
  left: 0;
  bottom: -4.5px;
  display: inline-block;
  content: "";
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}
.about-sub-media__line {
  margin-top: 3px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}
.about-sub-media__loading {
  margin-top: 3px;
  display: block;
  float: right;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
  color: var(--Primary-color-black, #152427);
}
.about-sub-media__dot {
  margin-top: 20px;
}
.about-sub-media__teams {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team__title {
  color: var(--Primary-color-black, #152427);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}
.team__images {
  display: flex;
}
.team__img {
  margin-left: -6px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}
.about__content {
  width: 42.5%;
}
.about__heading {
  margin-top: 20px;
}
.about__desc {
  margin-top: 11px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  color: var(--text-color-light-gray, #7d8188);
}
.about__info {
  margin-top: 36px;
}
.about__rate-desc {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 20px;
}
.about__rate-desc + .about__rate-desc {
  margin-top: 38px;
}
.about__rate-desc::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #83a17d;
}
.about__rate {
  color: var(--Primary-color-black, #152427);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 123.81% */
}
.about__desc-rate {
  color: var(--text-color-light-gray);
}
/* Process */
.process {
  padding-top: 79px;
}
.process__subtitle {
  padding-top: 36px;
}
.process__heading {
  position: relative;
  margin-top: 20px;
  width: 42%;
}
.process__heading::after {
  position: absolute;
  bottom: 18px;
  right: -9px;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--Primary-color-black, #152427);
}
.process__list {
  margin-top: 81px;
}
.process-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 54px 41px 28px 20px;
  border-radius: 33px;
}
.process-item__line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}
.process-item:hover {
  padding: 54px 41px 60px 20px;
  background: var(--Scondery-color-light-green, #e2eddf);
}
.process-item:hover .process__link,
.process-item:hover .process-item__img {
  display: block;
}
.process-item:hover .process-item__line,
.process-item:hover .process-item__desc {
  display: none;
}
.process-item__heading {
  color: var(--Primary-color-black-green, #143c3c);
  width: 109px;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72; /* 72.222% */
}
.process-item__title {
  margin-left: 49px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--Primary-color-black, #152427);
}
.process-item__desc {
  width: 50%;
  margin-left: auto;
  justify-items: start;
  color: var(--text-color-light-gray, #7d8188);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  transition: 0.25;
}
.process__link {
  position: absolute;
  left: 178px;
  bottom: 54px;
  display: none;
  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1; /* 100% */
  color: var(--text-color-black-gray, #575d5e);
  transition: 0.25s;
}
.process-item__img {
  display: none;
  position: absolute;
  bottom: 0;
  right: 92px;
}
/*Banner*/
.banner {
  margin-top: 148px;
  background: var(--Primary-color-black-green, #143c3c);
  padding: 116px 0 63px;
}
.banner__header {
  display: flex;
  column-gap: 93px;
  justify-content: space-between;
  align-items: end;
}
.banner__heading {
  position: relative;
  max-width: 457px;
  color: #e7f9f9;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
}
.banner__heading::after {
  content: "";
  right: 97px;
  bottom: 20px;
  width: 66px;
  height: 2px;
  position: absolute;
  background: var(--Scondery-color-blue, #83a17d);
}
.banner__desc {
  color: var(--Scondery-color-gray, #6a8383);
  font-family: "Public Sans";
}
.banner__link {
  display: flex;
  margin-top: 13px;
  align-items: center;
}
.banner__link-title {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.banner__link-arrow {
  margin-left: 26px;
}
.banner__media {
  position: relative;
  margin-top: 65px;
}
.banner__video {
  width: 100%;
  height: 544px;
  object-fit: cover;
  border-radius: 22px;
}
.banner__vector-extra {
  position: absolute;
  top: -236px;
  right: -97px;
}
.banner__vector {
  position: absolute;
  top: 72px;
  right: 37px;
  rotate: -1deg;
}
.banner__extra {
  position: absolute;
  top: 161px;
  right: 44px;
}
/* Features */
.features {
  margin-top: 140px;
}
.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features__heading {
  max-width: 520px;
}
.features__desc {
  margin-top: 20px;
  max-width: 547px;
  color: var(--text-color-light-gray, #7d8188);
}
.features__list {
  margin-top: 103px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 45px;
  place-items: center;
}
.features-item {
  width: 350px;
  height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.25s;
}
.features-item:hover {
  background: #fff;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
  border: none;
  transform: translateY(-59px);
}
.features-item__title {
  margin-top: 20px;
  color: #152427;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.features-item__desc {
  margin-top: 9px;
  width: 286px;
  color: var(--text-color-light-gray, #7d8188);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}
/* Blog */
.blog {
  margin-top: 84px;
  padding-top: 100px;
}
.blog__title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__heading {
  position: relative;
  max-width: 520px;
}
.blog__heading::after {
  position: absolute;
  top: 84px;
  right: -51px;
  content: "";
  width: 82px;
  height: 3px;
  background: var(--Primary-color-black, #152427);
}
.blog__desc {
  max-width: 409px;
  color: var(--text-color-light-gray, #7d8188);
}
.blog__list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
}
.blog-item:hover .blog-item__img {
  scale: 1.1;
}
.blog-item:hover .blog-item__content {
  padding-left: 30px;
  border-radius: 0px 0px 20px 20px;
  background: var(--text-color-white, #fff);
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}
.blog-item:hover .blog-item__btn {
  color: var(--Scondery-color-light-green, #e2eddf);
  background: var(--Primary-color-black-green, #143c3c);
}
.blog-item:hover .blog-item__line {
  width: 297px;
  height: 1px;
  left: 30px;
}
.blog-item:hover .blog-item__date {
  right: 33px;
}
.blog-item__image {
  border-radius: 40px 40px 0px 0px;
  overflow: hidden;
}
.blog-item__img {
  width: 100%;
  height: 317px;
  display: block;
  object-fit: cover;
  transition: ease 0.25s;
}
.blog-item__content {
  position: relative;
  height: 204px;
  transition: 0.25s;
}
.blog-item__btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 26px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  background: var(--Scondery-color-light-green, #e2eddf);
  color: #000;
}
.blog-item__title {
  max-width: 346px;
  margin-top: 13px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
  color: var(--Primary-color-black-green, #143c3c);
}
.blog-item__line {
  position: absolute;
  top: 163px;
  left: 0;
  width: 337px;
  height: 1px;
  background: #c4c4c4;
  transition: 0.25s;
}
.blog-item__date {
  position: absolute;
  bottom: 12px;
  color: var(--text-color-black-gray, #575d5e);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  right: 24px;
  transition: 0.25s;
}
/* footer */
.footer {
  margin-top: 102px;
  background: var(--Primary-color-black-green);
  padding: 72px 0 50px;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-signup {
  width: 411px;
}
.footer-signup__heading {
  float: left;
  color: var(--text-color-white, #fff);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: normal;
}
.footer-signup__email-input {
  display: flex;
  justify-content: space-between;
  padding: 0 7px 32px 0;
  width: 62.1%;
  border-bottom: 1px solid var(--Scondery-color-gray);
}
.footer-signup__input {
  margin-top: 20px;
  background: transparent;
  border: none;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 100% */
}
.footer-signup__input::placeholder {
  color: var(--Scondery-color-gray, #6a8383);

  /* Heading/h1 22px semibold */
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 100% */
}
.footer-signup__submit-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.footer-signup__socials {
  margin-top: 47px;
  display: flex;
  gap: 22px;
}
.footer-signup__line {
  margin-top: 30px;
  width: 354px;
  height: 1px;
  background: var(--Scondery-color-gray, #6a8383);
}
.footer-signup__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: transparent;
  border: 1px solid var(--Scondery-color-gray);
  border-radius: 50%;
  transition: 0.25s;
}
.footer-signup__social-link:hover {
  background: #a75325;
  border-color: #a75325;
}
.footer-signup__instagram {
  width: 18.27px;
  height: 18.27px;
}
.footer__row {
  display: flex;
  column-gap: 50px;
}
.footer__title {
  color: var(--text-color-white, #fff);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
}
.footer__list {
  margin-top: 6px;
}
.footer__link {
  color: var(--Scondery-color-gray, #6a8383);
  font-family: "Public Sans";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.25; /* 225% */
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__line {
  margin-top: 45px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(27, 29, 29, 0) 102.06%
  );
}
